body {
	color: #494949;
    font-family: 'Myriad Pro';
    font-size: 14px;
}

a {
    color: #494949;
    text-decoration: none;
}

a:hover {text-decoration: underline;}

.left {float: left;}
.right {float: right;}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

.center {
    margin: 0 auto;
    width: 990px;
}

