body, html{
    height: 100%;
}
body {
	margin:0px;
	overflow-x:hidden;
}


.top_pane:before, .top_pane:after, .menus:before, .menus:after,  .row:before, .row:after  {
    display:table;
    content:'';
}

.top_pane:after, .menus:after,   .row:after {
    clear:both;
}


 .bx_gall .itm, .bx_promo .itm {
	background-repeat:no-repeat;
}


.top_pane, .menus {
	font-family: 'PT Serif', serif;
}

.top_pane {
    z-index:2;
	height:0px;

}


.slide_pane .slide .ipick {
    -webkit-box-shadow: 0px 1px  1px rgba(52,25,7,.4);
    -moz-box-shadow: 0px 1px  1px rgba(52,25,7,.4);
    box-shadow: 0px 1px  1px rgba(52,25,7,.4);
}
.outmenu {
    background-color:#dbdbdb;
    z-index:3;
    width:100%;
    border-bottom:1px solid #a7ccb1;
}
.outmenu.fixed {
    position:fixed;
}

.contbox {
    width:968px;
    padding-left:10px;
    padding-right:10px;
    margin:0 auto;
}



.menus {
	position:absolute;
	width:100%;
	z-index:2;
	max-width:1280px;
	text-align:right;
    margin:18px 0px;
}
.menus, .slicknav_menu {
	background-color:rgba(0,0,0,.67);
}
.slicknav_menu {
	position:absolute;
	top:0px;
	margin:18px 0px;
	z-index:2;
	width:calc(100% - 23px);
	padding:18px 0px 18px 0px;
	display:block;
	font-family: "PTSerifRegular";

}
.slicknav_menu .slicknav_icon-bar {
	width:60px;
	height:7px;
	background-color:#97803b;
}
.slicknav_nav a {
	color:#c6b378;
}
.slicknav_nav a:hover {
	color:#fff;
}
.slicknav_nav {
	 padding:8px 0px 5px 0px;
}
.slicknav_nav a {
	font-family: "PTSerifRegular";
	padding: 1px 10px;
}
.slicknav_nav a:hover {
	background:none;
}
.slicknav_menu .slicknav_btn {
	background-color:transparent;
	float:left;
	margin-left:60%;
}
.slicknav_nav li {
	text-align:center;
	width:147px;
	margin:0px auto 0px 55%;
}

.h2 {
    font-size:30px;
}

/*slicknav*/
.slicknav_menu {
    display:none;
}

@media screen and (max-width: 40em) {
    /* #menu is the original menu */
     .menus {
		 
        display:none;
    }
	.slicknav_menu {
			display:block;
	}

    .js .slicknav_menu {
        display:block;
    }
}
/*slicknav end*/

.menus li {
    font-size:16px;
    margin:0px 35px 0px 0px;
    padding:30px 0px 36px 0px;
    display:inline-block;
    list-style: none;

}
.menus li:last-child {
    margin-right: 80px;
}
.menus li a {
	font-family: "PTSerifRegular";
    color:#c6b378;
    text-decoration: none;
}
.menus li a:hover, .menus li a:focus {
    color:#fff;
}


.wrapp {
	position:relative;
    margin:0 auto;
    max-width:1280px;
	line-height:1.4em;
	font-family: "PTSerifRegular";

}


.cart_mark {
    float:right;
    background-color:#ad1717;
}


.logo {
	
	text-align:center;
	position:absolute;
	top:0px;
	width:213px;
	height:178px;
	z-index:3;
	background:#000000;
    margin-top:0px;
    margin-right:0px;
    float:left;
}
.logo  img {
	margin:19px 0px 10px 0px;
}
.gall-ars {
	position:relative;
	height:659px;
}
.gall-ars .move {
	position:absolute;
	display:block;
	width:18px;
	height:32px;
	background-repeat:no-repeat;
	background-image:url(../img/prev_next.png);
}
.gall-ars .move.prev {
	background-position:0px 0px;
}
.gall-ars .move.next {
	background-position:0px -32px;
}
.pane_first .bx-wrapper, .promoban  .bx-wrapper {
	border:0px;
	box-shadow:none;
}

.bx-controls.bx-has-controls-direction {
	max-width:1280px;
/*	background:red;*/
	top: 0px;
	left:calc(50% - 640px);
	height: 100%;
	width: 100%;
	min-width:100%;
	position: absolute;
}


.promoban  .bx-controls-direction {
	top:0px;
	margin:0 auto;
	left:0px;
	height:100%;
	width:100%;
	
}
.promoban {
	margin:0px 0px 20px 0px;
}
.bx_promo {

}

.btcont {
	position:relative;
}

.pane_first .bx-wrapper .bx-controls-direction a {
	width:144px;
	top:0px;
	height:100%;
	background-repeat:no-repeat;
}



.btcont {
	position:relative;
	margin:0px auto;
	height:0px;
	max-width:1280px;
}

.btcont .push {
	 position:absolute;
	cursor: pointer;
	 z-index:1;
	display:block;
	width:144px;
	top:0px;
	background-repeat:no-repeat;
}
.pane_first .btcont .push {
	height:659px;
}
.promoban .btcont .push {
	height:390px;
}
.btcont.p_slide .push.prev {
	background-position: 9% 43%;
}
.btcont.p_slide .push.next {
	background-position: 89% 43%;
}
.btcont .push.prev {
	left:0px;
	background-position:9% 56%;
	background-image:url(../img/prev.png);

}
.btcont .push.next {
	right:0px;
	background-position:89% 56%;
	background-image:url(../img/next.png);

}


.bx_gall {

	margin:0px;
	list-style:none;
}
.bx_gall .itm {
	background-position:center top;
}
 .promoban .itm {
	background-position:right top;
}
.bx_gall .itm {
	height:659px;
}
.promoban .itm {
	background-image:none;
	background-repeat: no-repeat;
	background-color:#000;
	height:390px;
}
.pane_sec {
	padding:0px 0px;
}

.selfi_line .pside {
	float:left;
}
.selfi_line .pside.top {
	float:right;
	margin-top:4px;
	overflow:hidden;
}
.selfi_line .pside img {
	vertical-align:top;
}

.selfi_line .tside {
	width:444px;
	float:left;
}
.selfi_line .tside.st1_2 {
	margin-left:32px;
}
.selfi_line .tside.st1_2 .tbox {
	padding: 0px 35px 10px 10px;
}
.selfi_line .tside.stl_1   {
	margin:0px 2px 0px 132px;
}

.selfi_line .tside.fl_l {
	float:left;
}
.selfi_line .tside .tbox {
	font-size:14px;
	padding:0px 23px 10px 10px;
}
.selfi_line .tside.stl_1 .tbox {

	font-size:14px;
	padding:0px 37px 10px 10px;
}
.selfi_line  .tbox p {
	line-height:1.65em;
	margin:0px 0px 24px 0px;
}
.selfi_line  .tbox p:last-child {
	margin-bottom:0px;
}
.sefli_img {
	text-align:center;
	display:none;
}
.sefli_img img {
	max-width:100%;
	height:auto;
}
.selfi_line .sth {
	font-size:22px;
	margin:0px 0px 18px 0px;
	letter-spacing: 0.25rem;
}
.hth, .sth{
	line-height: 1.4em;
	text-transform:uppercase;
	font-weight:normal;
	display:block;
}
.hth {
	text-align:center;
	font-size:18px;
	margin:25px 0px 32px 0px;
	letter-spacing: 0.25rem;
}
.hth.st_1 {
	margin:31px 0px 25px 0px;
}
.selfi_line .sth:before {
	content:'';
	display:block;
	width:27px;
	height:68px;
	margin-bottom:12px;
	background:#000;
}

.feeded {
	
	border:3px solid #000000;
	margin:33px 12px 37px 12px;
}
.feeded .itm {
	text-align:center;
	float:left;
	width:23%;
	margin:0px 1% 38px 1%;
}
.feeded .itm img {
	max-width:100%;
	height:auto;
}
.feeded .itm .pick {

}
.feeded .itm a {
	display:block;
	color:#000;
}
.feeded .itm:first-child {

}
.feeded .itm  .spn {
	color:#989898;
	font-family: "MyriadProRegular";
	display:block;
	margin:0px 0px 10px 0px;
}
.feeded .pick  img {
	display:block;
	margin:0 auto;
}
.feeded .itm  .lnk {
	text-decoration:underline;
	font-size:14px;
	margin:0px 0px 12px 0px;
	padding:0px 8px;
	line-height: 24px;
	}
.pane_blog .lnk {
	color:#000;
	text-decoration:underline;
	display:block;
	font-size:16px;
	line-height: 1.5em;
	margin:0px 0px 18px 0px;
	min-height: 4.6rem;

}

.pane_blog .dsc {
	color:#888888;
	font-family: "MyriadProRegular";
	font-size:15px;
	margin:0px;
	text-decoration: none;
}


.pane_blog  .col {

	margin:0px 20px 108px 20px;
	box-sizing:border-box;
	border:3px solid #bc9d57;
	width:calc(50% - 42px);
	float:left;
}
.pane_blog  .col > a {
	overflow:hidden;
	display:block;
	text-decoration: none;
}
.pane_blog .box .pick  {
	width:212px;
	margin:25px 22px 25px 25px;
	float:left;

}
.pane_blog .box .pick img {
	max-width:100%;
	height:auto;
	vertical-align:top;
}
.pane_blog .box .data {
	width:43%;
	margin:23px 25px 25px 25px;
	overflow:hidden;
}

.prom_zone {
	position:relative;
	font-size:13px;
	font-family: "MyriadProRegular";
	line-height:1.9em;
	color:#fff;
	text-align: center;
	width:517px;
	min-height:282px;
	margin:0px 40px 0px 50px;
}
.prom_zone .pick {

	padding:40px 0px 19px 0px;
}
.prom_pick {
	background-repeat: no-repeat;
	background-position:  center top;
	width:1004px;
	height:390px;
	position:absolute;
	left:595px;
	top:0px;
}
.prom_zone .pick img {
	margin:0 auto;
}
.prom_zone p {
	letter-spacing:0.2em;
	margin:0px 0px 72px 0px;
}
.prom_zone .butt {
	display:inline-block;
	font-size:15px;
	color:#fff;
	text-transform: uppercase;
	margin:0px 0px 25px 0px;
	letter-spacing: 0.2rem;
}

footer {
	text-align:center;
    background-color:#000;
    min-height:170px;
}
.botnav {
	margin: 0px;
	padding: 20px 0;
}
.botnav li {
	margin: 27px 22px 13px 8px;
	display: inline-block;
}
.botnav li a {

	text-decoration: none;
	color: #c6b378;
	display: inline-block;
}
.botnav li a:hover {
	color:#fff;
}