/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
    font-family: RobotoRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"), url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/RobotoLight/roboto-light-webfont.eot');
    src: url('../fonts/RobotoLight/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoLight/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/RobotoLight/roboto-light-webfont.woff') format('woff'),
         url('../fonts/RobotoLight/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoLight/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium/roboto-medium-webfont.eot');
    src: url('../fonts/RobotoMedium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoMedium/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/RobotoMedium/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/RobotoMedium/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/RobotoMedium/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #2d3e50;
	font-family: RobotoRegular;
	font-size: 16px;
}

a {
    color: #2d3e50;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: RobotoRegular;
	font-size: 48px;
	line-height: 1.3;
	text-transform: uppercase;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center_1, .center_2 {
	margin-left: auto;
	margin-right: auto;
}

.center_1 {
	width: 1320px;
}

.center_2 {
	width: 960px;
}

.btn_1 {
	background-color: #bfa35f;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	color: #fff;
	display: block;
	font-family: 'RobotoMedium';
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
}

.btn_2 {
	border: 2px solid #fff;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	color: #fff;
	display: table;
	font-size: 18px;
	height: 44px;
	line-height: 44px;
	margin: 60px auto 0;
	padding: 0 30px;
	text-transform: uppercase;
}

/*========================== END ==========================*/

.wrapper {
	border-top: 4px solid #c0a35f;
	margin: 0 auto;
	width: 1440px;
}

.block_1 {
	background: url(img/bg_1.jpg) no-repeat center top;
}

.logo {
	margin: 37px 0 0 0;
}

/*========================== top_menu ==========================*/

.flexnav {
	float: none;
	font-family: 'RobotoMedium';
	margin: 44px 0 0 92px;
	text-transform: uppercase;
}

.flexnav > li {
	margin: 0 21px 0 0;
}

.flexnav > li a {
	color: #f9f6f1;
	padding: 0 21px 15px 0;
}

.flexnav a:hover, .flexnav a:active, .flexnav li ul li a:hover {color: #c0a35f;}

.flexnav li ul, .flexnav li ul li a {
	background: #ecf0f1;
	color: #002e5c;
}

.flexnav > li.item-with-ul {
	background: url(libs/menu/arrow_menu.png) no-repeat right 6px;
}

.flexnav li ul {padding: 0;}

.flexnav li > ul > li.item-with-ul {
	background: #ecf0f1;	
}

.flexnav li > ul div ul {
	float: left;
	padding: 0;
	width: auto;
}

.flexnav > li ul li {
	float: none;
	width: 260px;
}

.flexnav li > ul > li {
	padding-bottom: 17px;
	padding-top: 25px;
	width: 575px;
}

.flexnav ul li ul li a {
	background: none;
	font-size: 14px;
	line-height: 1.1;
	padding: 4px 0 8.8px 31px;
}

.flexnav > li > ul {
	left: -120px;
	width: auto;
}

/*========================== END top_menu ==========================*/

.number_phone {
	color: #f9f6f1;
	display: block;
	font-size: 21px;
	margin: 0 0 5px 0;
}

.ul_1 {
	margin: 45px 0 0 0;
}

.ul_1 li {float: left;}

.ul_1 li:last-child {margin-left: 12px;}

.link_1, .link_2 a {
	color: #c0a35f;
	font-family: 'RobotoMedium';
	font-size: 12px;
	text-transform: uppercase;
}

.ul_1 .btn_1 {
	margin: 2px 0 0 0;
}

.link_2 {
	clear: both;
	color: #c0a35f;
	margin: 34px 0 0 46px;
	text-align: center;
}

.link_2 a {
	margin: 0 10px;
}

.link_2__1, .link_2__2 {
	position: relative;
}

.link_2__1:before, .link_2__2:after {
	background: #c0a35f;
	content: "";
	height: 2px;
	position: absolute;
	left: -132px;
	top: 7px;
	width: 122px;
}

.link_2__2:after {
	left: auto;
	right: -132px;
}

.style_1 {
	color: #f9f6f1;
	margin: 235px 0 0 0;
	text-align: center;
}

.ul_2 {
	margin: 139px 0 0 57px;
}

.ul_2 > li {
	color: #f9f6f1;
	float: left;
	line-height: 1.35;
	padding-bottom: 10px;
	width: 31%;
}

.ul_2 > li a {border-bottom: 1px solid #d2cbba; color: #f9f6f1; }

.ul_2 > li a:hover {
	border-bottom-color: transparent;
	text-decoration: none;
}

.ul_2 > li:nth-child(1) {
	background: url(img/ico_1.png) no-repeat left 11px;
	margin: 0 52px 0 0;
	padding-left: 82px;
	padding-top: 14px;
	width: 30%;
}

.ul_2 > li:nth-child(2) {
	background: url(img/ico_2.png) no-repeat left top;
	margin: 0 34px 0 0;
	padding-left: 126px;
	padding-top: 14px;
}

.ul_2 > li:nth-child(3) {
	background: url(img/ico_3.png) no-repeat left 15px;
	padding-left: 91px;
	padding-top: 15px;
}

.ul_2 > li + li {
	margin-left: 10px;
}