body {
    font-family: 'pf_din_text_cond_proregular';
}

input {
    font-family: 'pf_din_text_cond_proregular';
}

input[type=submit] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 18px;
}

.center {
    margin: 0 auto;
    width: 1280px;
}

.site_header {
    background-color: #000;
    height: 42px;
    line-height: 42px;
}

.flexnav {
    float: left;
    padding-left: 5px;
}

.flexnav > li {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
}

.flexnav > li a {
    color: #ffffff;
    display: block;
    letter-spacing: 1px;
    padding: 0 12px;
}

.flexnav > li a:hover, .flexnav > li a:hover {
    background-color: #30a9bb;
}

.ul_1 {
    float: right;
    margin-right: 58px;
}

.ul_1 li {
    color: #00deff;
    float: left;
    font-size: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

.ul_1 li a {
    color: #00deff;
    text-decoration: underline;
}

.ul_1 li:last-child {
    margin-right: 0;
}

/*========================== block_1 ==========================*/

.block_1 {
    border-bottom: 4px solid #30a9bb;
    overflow: hidden;
    padding: 0 0 27px 0;
}

.logo {
    float:  left;
    margin: 35px 16px 0 17px;
}

.p_1 {
    float: left;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 21px;
    letter-spacing: 3.6px;
    line-height: 1.15;
    margin: 32px 0 0 0;
}

.ul_2 {
    float: right;
    margin: 38px 4px 0 0;
}

.ul_2 > li {
    float: left;
}

.phone {
    font-size: 30px;
    margin: 0 37px 0 0;
}

.span_1 {
    display: inline-block;
    height: 33px;
    width: 33px;
    background-image: url('../img/icon_spr.png');
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px; 
    text-align: left;
}

.link_1 {
    background-position: -0px -66px; 
    width: 33px;
    height: 33px;
}
.link_1:hover, .link_1:focus {
     background-position: -0px -99px; 
}

.link_2 {
     background-position: -0px -0px;
     width: 34px;
     height: 33px; 
}
.link_2:hover, .link_2:focus {
    background-position: -0px -33px; 
}

.link_3 {
    background-position: -0px -132px;
}
.link_3:hover, .link_3:focus {
     background-position: -0px -165px;
}
/*========================== END block_1 ==========================*/

/*========================== block_2 ==========================*/

.block_2 {
    border-bottom: 1px solid #000;
    overflow: hidden;
    padding: 0 0 10px 0;
}

.ul_3 {
    float: left;
    margin: 28px 0 0 15px;
    overflow: hidden;
}

.ul_3 li {
    background: url(../img/menu_bg.gif) no-repeat right center;
    float: left;
    font-size: 17px;
    margin: 0 11px 0 0;
    padding: 0 21px 0 0;
    text-transform: uppercase;
}

.ul_3 li:last-child {
    background: none;
    padding-right: 0;
}

.ul_3 li a {
    color: #000000;
}

.ul_3 li a:hover {
    text-decoration: underline;
}

.form_1 {
    background: #eeeeee;
    float: right;
    margin: 9px 22px 0 0;
    overflow: hidden;
    padding: 10px;
}

.form_1 input {
    float: left;
}

.form_1 input[type=text] {
    background: #fff;
    color: #919191;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 0 0 5px;
    width: 226px;
}

.form_1 input[type=submit] {
    background: #353535;
    color: #ffffff;
    font-size: 14px;
    height: 24px;
    text-align: center;
    width: 51px;
}

/*========================== END block_2 ==========================*/

/*========================== block_3 ==========================*/

.block_3 {
    border-bottom: 4px solid #30a9bb;
    margin-bottom: 82px;
    overflow: hidden;
}

.block_left {
    float: left;
    margin: 17px 0 0 15px;
    width: 916px;
}

#bx_slider_1 {
    float: left;
    margin: 0 0 28px 0;
    width: 914px;
}

#bx_slider_1 .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    left: 0;
}

#bx_slider_1 .bx-wrapper {
    border: 1px solid #d0d0d0;
    margin: 0;
}

#bx_slider_1 .bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    border: 3px solid #ccc;
    border-radius: 0;
    height: 6px;
    margin: 0 1px;
    width: 6px;
}

#bx_slider_1 .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    border-color: #000!important;
}

#bx_slider_1 .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    right: 9px;
    top: -9px;
    width: auto;
}

.block_right {
    float: right;
    margin: 16px 23px 0 0;
    width: 303px;
}

.block_right_1 {
    border: 1px solid #d0d0d0;
    margin: 0 0 18px 0;
    position: relative;
    padding: 3px;
}

.block_right_1 > img {
    display: block;
}

.title {
    background-color: rgba(255, 255, 255, 0.86);
    color: #931872;
    font-family: Calibri;
    font-size: 36px;
    font-weight: 700;
    height: 49px;
    left: 56px;
    line-height: 49px;
    position: absolute;
    top: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 176px;
}

.title_1 {
    background: #30a9bb;
    clear: both;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 33px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.title_1 img {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    width: 21px;
}

.design {
    overflow: hidden;
    padding: 0 0 13px 0;
}

.design_1:nth-child(2n) {
    margin-right: 0;
}

.design_1 {
    border: 1px solid #d0d0d0;
    float: left;
    line-height: 1.25;
    margin: 0 12px 14px 0;
    padding: 8px 8px 16px 10px;
    width: 432px;
}
.design_1 > a {
    display:block;
    height:100%;
}
.link_design, .link_design img {
    display: block;
}
.link_design img {
       transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    opacity:0.9;
}
.link_design img:hover {
    opacity:0.7;
}
.link_design {
    margin: 0 0 16px 0;
}

.design h3 {
    color:#000;
    font-size: 20px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}
.design h3:hover {
    color:#30a9bb;
}
.design_1 h3 a {
    color: #000000;
}

.design_1 h3 a:hover {
    text-decoration: underline;
}

.design_1  p {
    color: #757575;
    font-size: 15px;
}

.block_right_2 {
    overflow: hidden;
}

.block_right_2 > div {
    border: 1px solid #d2d2d2;
    float: left;
    padding: 7px;
    margin: 0 9px 9px 0;
}

.block_right_2 > div:nth-child(2n) {
    margin-right: 0;
}

.block_right_2 > div > img {
    display: block;
}

.block_right_3 {
    border-top: 4px solid #30a9bb;
    padding-top: 24px;
}

.block_right_3 img {
    display: block;
    margin: 0 auto 25px;
}
/*========================== END block_3 ==========================*/

footer {
    background: #e2e2e2;
    color: #727171;
    padding: 20px 0 30px 0;
}
footer, .site_header {
    min-width:1280px;
}

footer a {
    color: #727171;
}

footer .center {
    overflow: hidden;
}

.footer_left {
    float: left;
    margin: 0 0 30px 0;
}

footer h4 {
    font-family: 'pf_din_text_cond_prolight';
    letter-spacing: 1px;
    margin: 0 0 28px 431px;
    text-transform: uppercase;
}

.footer_menu {
    margin: 0 0 0 27px;
    overflow: hidden;
}

.footer_menu li {
    color: #757575;
    float: left;
    font-size: 15px;
    line-height: 1.25;
    padding: 37px 0 0 0;
    text-align: center;
}

.footer_menu li a {
    color: #757575;
}

.footer_menu li:first-child {
    background: url(../img/footer_ico_1.png) no-repeat center top;
    margin-right: 88px;
    width: 115px;
}

.footer_menu li:nth-child(2) {
    background: url(../img/footer_ico_2.png) no-repeat center 3px;
    margin-right: 85px;
    width: 92px;
}

.footer_menu li:nth-child(3) {
    background: url(../img/footer_ico_3.png) no-repeat center 3px;
    margin-right: 74px;
    width: 75px;
}

.footer_menu li:nth-child(4) {
    background: url(../img/footer_ico_4.png) no-repeat center top;
    margin-right: 80px;
    width: 142px
}

.footer_menu li:nth-child(5) {
    background: url(../img/footer_ico_5.png) no-repeat center -7px;
    width: 105px;
}

.footer_right {
    float: right;
    margin: 0 51px 0 0;
}

.soc_btn {
    margin: 35px 0 0 44px;
    overflow: hidden;
}

.soc_btn a {
    display: block;
    float: left;
    height: 35px;
    width: 35px;
}

.link_4 {
    background: url(../img/soc_ico_1.png) no-repeat;
}

.link_5 {
    background: url(../img/soc_ico_2.png) no-repeat;
    margin: 0 0 0 46px;
}

.footer_right h4 {
    margin-left: 0;
}

.footer_menu_2 {
    border-bottom: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    clear: both;
    margin: 0 0 30px 0;
    overflow: hidden;
    padding: 0 0 0 130px;
}

.footer_menu_2 li {
    float: left;
    font-size: 14px;
    margin: 0 38px 0 0;
    padding: 23px 0 16px 0;
    text-transform: uppercase;
}

.footer_menu_2 li a {
    color: #4a4a4a;
    letter-spacing: 2px;
}

.about_us {
    color: #4a4a4a;
    font-size: 18px;
    margin: 0 0 0 30px;
    white-space: pre;
}
