@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
     url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/pt_sans-web-bolditalic-webfont.eot');
    src: url('../fonts/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../img/body_bg.jpg) repeat;
    font-family: 'pt_sansregular';
    font-size: 14px;
}

a {
    text-decoration: none;
}

input[type=text] {
    font-family: 'pt_sansregular';
}

input[type=submit] {
    cursor: pointer;
}

h2, .h2 {
    font-family: 'pt_sansregular';
    font-size: 30px;
}

label {
    cursor: pointer;
}

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.center {
    margin: 0 auto;
    width: 1240px;
}

header {
    background-color: #fdfdfd;
    border-bottom: 1px solid #dcdddd;
    box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.15);
}

.authinheadinner {
    background: url(../img/border_gradient.png) no-repeat left top;
    float: left;
    margin: 0 17px 0 0;
    overflow: hidden;
}

.authinheadinner li {
    background: url(../img/border_gradient.png) no-repeat right top;
    float: left;
    line-height: 45px;
    text-align: center;
}

.authinheadinner li a {
    color: #000000;
    font-size: 13px;
}

.authinheadinner li a:hover {
    color: #108442;
}

.reg {
    width: 136px;
}

.reg a {
    background: url(../img/ico_1.png) no-repeat left center;
    padding: 0 0 0 14px;
}
.enter {
    width: 113px;
}

.enter a {
    background: url(../img/ico_2.png) no-repeat left center;
    padding: 0 0 0 16px;
}

.searchinhead {
    border: 1px solid #d1d2d3;
    border-radius: 3px;
    float: left;
    margin: 5px 29px 0 0;
}

.searchinhead input[type=text] {
    float: left;
    height: 33px;
    line-height: 33px;
    padding: 0 0 0 15px;
    width: 436px;
}

.searchinhead input[type=submit] {
    background: url(../img/submit_ico.png) no-repeat;
    float: left;
    height: 33px;
    padding: 0;
    width: 55px;
}

.ul_1 {
    float: left;
}

.ul_1 > li {
    background: url(../img/border_gradient.png) no-repeat right top;
    color: #666666;
    float: left;
    font-size: 12px;
    padding: 7px 10px 0 0;
}

.ul_1 > li:last-child {
    background: none;
    padding-right: 0;
}

.ul_1 > li a {
    color: #20972a;
    display: block;
    margin: 0 0 5px 0;
    text-decoration: underline;
}

.ul_1 > li a:hover {
    color: #ff8400;
}

.ul_1 .p_1 {
    background: url(../img/ico_3.png) no-repeat left center;
    margin: 0 20px 0 0;
    padding: 0 0 0 25px;
}

.ul_1 .p_2 {
    background: url(../img/ico_4.png) no-repeat left center;
    margin: 0 13px 0 0;
    padding: 0 0 0 28px;
}

.ul_1 .p_3 {
    background: url(../img/ico_5.png) no-repeat left center;
    padding: 0 0 0 35px;
}

.logo {
    float: left;
    margin: 19px 0 0 20px;
}

.agro {
    float: right;
    margin: 22px 7px 0 0;
}

.btn_1 {
    background: -webkit-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: -moz-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: -o-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: -ms-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: linear-gradient(180deg, #7d7d7d 0%, #212121 99%);
    border-radius: 3px;
    -webkit-box-shadow: inset 0px -2px 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 0px -2px 0px 2px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 0px -2px 0px 2px rgba(0, 0, 0, 0.75);
    color: #ffffff;
    display: block;
    float: right;
    font-size: 13px;
    height: 33px;
    line-height: 33px;
    margin: 35px 49px 0 0;
    text-align: center;
    width: 183px;
}

.btn_1:hover {
    background: -webkit-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: -moz-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: -o-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: -ms-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: linear-gradient(180deg, #7b7b7b 0%, #4b4b4b 99%);
}

.block_1 {
    margin-bottom: 14px;
}

.centering {
    background: -webkit-linear-gradient(-90deg, #fefefe 0%, #ffffff 100%);
    background: -moz-linear-gradient(-90deg, #fefefe 0%, #ffffff 100%);
    background: -o-linear-gradient(-90deg, #fefefe 0%, #ffffff 100%);
    background: -ms-linear-gradient(-90deg, #fefefe 0%, #ffffff 100%);
    background: linear-gradient(180deg, #fefefe 0%, #ffffff 100%);
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    height: 50px;
}

.more {
    background: -webkit-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -moz-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -o-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -ms-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: linear-gradient(180deg, #16ab0f 0%, #2d7270 99%);
    border-radius: 5px;
    color: #ffffff;
    display: block;
    float: right;
    font-size: 13px;
    height: 42px;
    line-height: 42px;
    margin: 4px 0 0 120px;
    text-align: center;    
    width: 250px;
}

.more img {
    vertical-align: middle;
}

.ico_6 {
    left: -12px;
    padding: 0 5px 0 0;
    position: relative;
}

.ico_right {
    position: relative;
    right: -10px;
}

.ul_2 {
    float: right;
    margin: -11px 0 0 0;
}

.ul_2 > li {
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #ededed 99%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #ededed 99%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #ededed 99%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #ededed 99%);
    background: linear-gradient(180deg, #ffffff 0%, #ededed 99%);
    border: 1px solid #cfcfcf;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    float: left;
    margin: 0 8px 0 0;
    text-align: center;
    width: 103px;
}

.ul_2 > li:last-child {
    margin-right: 0;
}

.ul_2 > li a {
    color: #303030;
    display: block;
    padding: 38px 0 8px 0;
}

.ul_2 > li a:hover {
    color: #108442;
}
.ul_2 .ico_7 {
    background: url(../img/ico_7.png) no-repeat center 10px;
}

.ul_2 .ico_8 {
    background: url(../img/ico_8.png) no-repeat center 12px;
}

.ul_2 .ico_9 {
    background: url(../img/ico_9.png) no-repeat center 11px;
}

.ul_2 > li:nth-child(3) {
    width: 145px;
}

.ul_2 .ico_10 {
    background: url(../img/ico_10.png) no-repeat center 11px;
}

.ul_2 .ico_11 {
    background: url(../img/ico_11.png) no-repeat center 13px;
}

.menu_left {
    border-radius: 5px 5px 0 0;
    float: left;
    position: relative;
    width: 250px;
}

.catalogmenucolumn {
    background: -webkit-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -moz-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -o-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -ms-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: linear-gradient(180deg, #16ab0f 0%, #2d7270 99%);
    color: #ffffff;
    font-family: 'pt_sansbold';
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    margin: 4px 0 0 0;
}

.catalogmenucolumn .ico_h3 span {
    background: #fff;
    display: block;
    height: 3px;
    box-shadow: 2px 1px 3px 0.00px rgba(0, 0, 0, 0.1);
    margin: 0 0 3px 0;
    width: 24px;
}

.ico_h3 {
    float: left;
    margin: 11px 40px 0 14px;
}

.catalogmenu {
    border: 1px solid #c7c7c7;
    border-top: none;
    left: 0;
    position: absolute;
    top: 46px;
    z-index: 200;
}

.catalogmenu > li {
    background-color: #fdfdfd;
    border-bottom: 1px solid #c7c7c7;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 14px;
    width: 234px;
}

.catalogmenu > li:last-child {
    border-bottom: none;
}

.catalogmenu > li a {
    color: #303030;
}

.catalogmenu > li a:hover {
    text-decoration: underline;
}

.catalogmenu > li > ul {
    background: #fff;
    position: absolute;
    z-index: 200;
}

/*========================== content ==========================*/

.content_left {
    float: left;
    margin: 382px 0 0 0;
    width: 247px;
}

.big_img {
    display: block;
    margin: 0 0 19px 0;
}

.content_right {
    float: right;
    width: 967px;
}

#wrap_for_bx_1 {
    margin: 20px 0 0 0;
}

#wrap_for_bx_1 .bx-wrapper .bx-viewport, #bx_2 .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    left: 0;
}

.menu_slider {
    border-right: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 0 0 38px 0;
}

.menu_slider a {
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #f9f8f8 99%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #f9f8f8 99%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #f9f8f8 99%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #f9f8f8 99%);
    background: linear-gradient(180deg, #ffffff 0%, #f9f8f8 99%);
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    color: #2a2b2a;
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 240px;
}

.menu_slider a:hover {
    border-bottom-width: 3px;
    color: #0f8442;
}

.menu_slider a:last-child {
    border-right: none;
}

.content_right .h2 {
    margin: 0 0 13px 0;
}

.products {
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    margin: 0 0 40px 0;
    overflow: hidden;
}

.products > div {
    background-color: #ffffff;
    border-right: 1px solid #c7c7c7;
    float: left;
    padding: 0 7px 10px 7px;
    position: relative;
    width: 226px;
}

.img_products {
    text-align:center;
    height: 182px;
    margin: 0 0 4px 0;
    width: 226px;
}

.img_products > img {
    max-height: 182px;
    max-width: 226px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title_products {
    border-bottom: 1px solid #c7c7c7;
    color: #252525;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 13px 0;
    padding: 0 0 2px 0;
    text-align: center;
}

.price_line {
    color: #d1342f;
    font-size: 12px;
    left: 59px;
    position: absolute;
    top: 233px;
    text-decoration: line-through;
}

.ul_3 {
    margin: 0 0 11px 6px;
}

.ul_3 li {
    float: left;
}

.ul_3 li span, .ul_3 li input {
    float: left;
}

.price {
    font-size: 24px;
    margin: 0 16px 0 0;
    min-width: 100px;
}

.count span {
    background-image: url(../img/plus_minus.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 21px;
    width: 21px;
}

.ico_minus {
    background-position: 0 0;
    margin: 0 2px 0 0;
}

.ico_plus {
    background-position: 0 -21px;
    margin: 0 0 0 2px;
}

.count input {
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #151515;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: -4px 0 0 0;
    text-align: center;
    width: 40px;
}

.ul_4 {
    margin: 0 0 0 2px;
}

.ul_4 > li {
    float: left;
}

.ul_4 > li a {
    box-sizing: border-box;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    height: 29px;
    line-height: 29px;
}

.btn_2 {
    background: -webkit-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: -moz-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: -o-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: -ms-linear-gradient(-90deg, #7d7d7d 0%, #212121 99%);
    background: linear-gradient(180deg, #7d7d7d 0%, #212121 99%);
    -webkit-box-shadow: inset 0px -2px 0px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow:    inset 0px -2px 0px 2px rgba(0, 0, 0, 1);
    box-shadow:         inset 0px -2px 0px 2px rgba(0, 0, 0, 1);
    margin: 0 8px 0 0;
    text-align: center;
    width: 110px;
}

.btn_2 img {
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.btn_2:hover {
    background: -webkit-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: -moz-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: -o-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: -ms-linear-gradient(-90deg, #7b7b7b 0%, #4b4b4b 99%);
    background: linear-gradient(180deg, #7b7b7b 0%, #4b4b4b 99%);
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    inset 0px -2px 0px 0px rgba(0, 0, 0, 1);
    box-shadow:         inset 0px -2px 0px 0px rgba(0, 0, 0, 1);
}

.btn_3 {
    background: -webkit-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -moz-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -o-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -ms-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: linear-gradient(180deg, #16ab0f 0%, #2d7270 99%);
    border-radius: 3px;
    width: 103px;
}

.btn_3 a {
    background: url(../img/basket_ico.png) no-repeat 7px center;
    padding: 0 0 0 31px;
}

.btn_3:hover {
    background: -webkit-linear-gradient(-90deg, #6dac6a 0%, #2d7270 99%);
    background: -moz-linear-gradient(-90deg, #6dac6a 0%, #2d7270 99%);
    background: -o-linear-gradient(-90deg, #6dac6a 0%, #2d7270 99%);
    background: -ms-linear-gradient(-90deg, #6dac6a 0%, #2d7270 99%);
    background: linear-gradient(180deg, #6dac6a 0%, #2d7270 99%);
}

.btn_3:hover a {
    background-image: url(../img/plus_basket.png);
}

.in_basket, .in_basket:hover {
    background: -webkit-linear-gradient(-90deg, #16ab0f 0%, #19a51a 99%);
    background: -moz-linear-gradient(-90deg, #16ab0f 0%, #19a51a 99%);
    background: -o-linear-gradient(-90deg, #16ab0f 0%, #19a51a 99%);
    background: -ms-linear-gradient(-90deg, #16ab0f 0%, #19a51a 99%);
    background: linear-gradient(180deg, #16ab0f 0%, #19a51a 99%);
    -webkit-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
}

.in_basket a, .in_basket a:hover {
    background-image: url(../img/in_basket.png);
}

.menu_best {
    margin: -2px 0 0 0;
    overflow: hidden;
}

.menu_best li {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    float: left;
    text-align: center;
    width: 106px;
}

.menu_best li:first-child {
    border-left: 1px solid #dfdfdf;
}

.menu_best li:first-child a {
    background: url(../img/menu_best_ico_1.png) no-repeat center 8px;
}

.menu_best li:nth-child(2) a {
    background: url(../img/menu_best_ico_2.png) no-repeat center 6px;
}

.menu_best li:nth-child(3) a {
    background: url(../img/menu_best_ico_3.png) no-repeat center 8px;
}

.menu_best li:nth-child(4) a {
    background: url(../img/menu_best_ico_4.png) no-repeat center 9px;
}

.menu_best li:nth-child(5) a {
    background: url(../img/menu_best_ico_5.png) no-repeat center 11px;
}

.menu_best li:nth-child(6) a {
    background: url(../img/menu_best_ico_6.png) no-repeat center 10px;
}

.menu_best li:nth-child(7) a {
    background: url(../img/menu_best_ico_7.png) no-repeat center 11px;
}

.menu_best li:nth-child(8) a {
    background: url(../img/menu_best_ico_8.png) no-repeat center 9px;
}

.menu_best li:nth-child(9) a {
    background: url(../img/menu_best_ico_9.png) no-repeat center 12px;
}

.menu_best li.active {
    border-bottom-color: #ffffff;
    border-top: 3px solid #108442;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.34);
    position: relative;
    z-index: 200;
}

.menu_best li a {
    color: #171717;
    display: inline-block;
    font-size: 13px;
    height: 31px;
    padding: 47px 0 0 0;
    width: 100%;
}

.products_best {
    border-top: none;
    margin-bottom: 45px;
    margin-top: 0;
}

.products_best .products_wrap {
    float: left;
    height: 326px;
    position: relative;
    width: 241px;
}

.products_wrap  > .citm {
    background: #ffffff;
    border: 1px solid #c7c7c7;
    left: 0;
    padding: 0 7px 8px 7px;
    position: absolute;
    top: -3px;
    z-index: 100;
}

.products_wrap  > .citm.active {
    box-shadow: 0px 1px 3px 0.00px rgba(0, 0, 0, 0.21);
}

.block_descripton {
    display: none;
}

.block_descripton > p {
    font-family: 'Segoe UI';
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 12px 0;
}

.more_products {
    background-color: #fbfbfb;
    border: 1px solid #c7c7c7;
    color: #268352;
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 221px;
}

.products_best .ul_4 {
    margin: 0 0 8px 0;
    overflow: hidden;
}

.option {
    background: url(../img/str_bottom.png) no-repeat right center;
    color: #252525;
    display: none;
    float: left;
    margin: 0 0 15px 5px;
    padding: 0 13px 0 0;
}

.option a {
    border-bottom: 1px dashed #313131;
    color: #108442;
    display: inline-block;
    line-height: 1;
}

.products_wrap .ul_3 {
    clear: both;
}

.products_wrap > .citm:hover .block_descripton, .products_wrap > .citm:hover .option, .products_wrap > .citm:hover .opt  {
    display: block;
}

.products_wrap > .citm:hover {
    z-index: 101;
}

.toggleMenu {
    display: none;
}
/*

#bx_2 .bx-wrapper .bx-controls-direction a {
    height: 37px;
    margin-top: -14px;
    width: 21px;
}

#bx_2 .bx-wrapper .bx-prev {
    background: url(../img/bx_2_str.png) no-repeat 0 0;
}

#bx_2 .bx-wrapper .bx-next {
    background: url(../img/bx_2_str.png) no-repeat -21px 0;
}
*/

/*========================== END content ==========================*/

/*========================== katalog ==========================*/

.breadcrumb {
    margin: 12px 0;
    overflow: hidden;
}

.breadcrumb > li {
    background: url(../img/breadcrumb_ico.gif) no-repeat right center;
    float: left;
    margin: 0 5px 0 0;
    padding: 0 18px 0 0;
}

.breadcrumb > li a {
    color: #242424;
}

.breadcrumb > li a:hover {
    color: #21903d;
}

.breadcrumb > li:last-child a {
    color: #21903d;
}

.breadcrumb > li:last-child a:hover {
    color: #ff8400;
}

.breadcrumb > li:last-child {
    background: none;
    padding-right: 0;
}

.margin_1 {
    margin-top: 20px;
    width: 250px;
}

.filtr_wrap {
    border: 1px solid #cfcfcf;
}

.filtr_wrap > div {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
}

.filtr_wrap > div:last-child {
    border-bottom: none;
}

.setting_filtr > div {
    padding: 0 14px;
}

    
.filtr_price {
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    color: #242323;
    height: 29px;
    margin: 13px 0 25px 0;
    text-align: center;
    width: 78px;
}

.filtr_price:focus {
    -webkit-box-shadow: 0px 0px 6px rgba(26,189,36,0.92);
    -moz-box-shadow: 0px 0px 6px rgba(26,189,36,0.92);
    box-shadow: 0px 0px 6px rgba(26,189,36,0.92);  
}

.link_filtr {
    color: #262626;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 0 0 14px;
}

.checkbox {
    margin: 0 0 8px 0;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox label {
    background: url(../img/checkbox.png) no-repeat 0 0;
    color: #262626;
    display: block;
    height: 17px;
    line-height: 21px;
    padding: 0 0 0 26px;
}

.checkbox input[type=checkbox]:checked + label {
    background-position: 0 -17px;
}

.line_gray {
    background: #cfcfcf;
    border: none;
    color: #cfcfcf;
    height: 1px;
    margin: 20px 0 12px;
}

.style_1 {
    color: #262626;
    font-size: 15px;
    margin: 0 0 12px 0;
}

.btn_show {
    background: #16ab0f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2YWIwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDcyNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #16ab0f 0%, #2d7270 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16ab0f), color-stop(100%,#2d7270));
    background: -webkit-linear-gradient(top,  #16ab0f 0%,#2d7270 100%);
    background: -o-linear-gradient(top,  #16ab0f 0%,#2d7270 100%);
    background: -ms-linear-gradient(top,  #16ab0f 0%,#2d7270 100%);
    background: linear-gradient(to bottom,  #16ab0f 0%,#2d7270 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16ab0f', endColorstr='#2d7270',GradientType=0 );
    border-radius: 3px;
    -webkit-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 29px;
    line-height: 29px;
    margin: 5px 0 0 6px;
    text-align: center;
    width: 119px;
}

.btn_show:hover {
    background: #6dac6a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2YWIwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDcyNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6dac6a 0%, #2d7270 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dac6a), color-stop(100%,#2d7270));
    background: -webkit-linear-gradient(top,  #6dac6a 0%,#2d7270 100%);
    background: -o-linear-gradient(top,  #6dac6a 0%,#2d7270 100%);
    background: -ms-linear-gradient(top,  #6dac6a 0%,#2d7270 100%);
    background: linear-gradient(to bottom,  #6dac6a 0%,#2d7270 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dac6a', endColorstr='#2d7270',GradientType=0 );
}

.btn_show img {
    padding-right: 12px;
}

.btn_reset {
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 29px;
    line-height: 29px;
    margin: 5px 7px 0 0;
    text-align: center;
    width: 112px;
}

.filtr_wrap .btn_show_reset {
    overflow: hidden;
    padding-bottom: 5px;
}

.margin_2 {
    margin-top: 20px;
}

.margin_2 .products > div {
    border-bottom: 1px solid #c7c7c7;
}

.catalogsorter {
    background: #f8f8f8;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    margin: 0 0 7px 0;
    padding: 0 0 0 15px;
}

.catalogsorter div.cs-skin-sudak {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    margin: 4px 0;
    width: 150px;
}

.catalogsorter .cs-skin-sudak.cs-select span.cs-placeholder {
    color: #262626;
}

.catalogsorter .cs-placeholder {
    height: 31px;
    line-height: 31px;
    padding: 0 0 0 11px!important;
}
.catalogsorter .cs-skin-sudak.cs-active > span {
    border-bottom: none;
}

.catalogsorter .cs-skin-sudak > span {
    border-bottom: none;
}

.catalogsorter .cs-active {
    border-bottom: none;
}

.catalogsorter .cs-skin-sudak .cs-options {
    color: #262626;
}

.catalogsorter .cs-skin-sudak.cs-select span.cs-placeholder:after {
    margin-left: 24px;
}

.sort {
    float: left;
}

.template {
    float: right;
    line-height: 44px;
}

.template a {
    border-left: 1px solid #cfcfcf;
    display: inline-block;
    text-align: center;
    width: 47px;
}

.template a img {
    vertical-align: middle;
}

.ajaxpages {
    background: #16ab0f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2YWIwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDcyNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #16ab0f 0%, #2d7270 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16ab0f), color-stop(100%,#2d7270));
    background: -webkit-linear-gradient(top,  #16ab0f 0%,#2d7270 100%);
    background: -o-linear-gradient(top,  #16ab0f 0%,#2d7270 100%);
    background: -ms-linear-gradient(top,  #16ab0f 0%,#2d7270 100%);
    background: linear-gradient(to bottom,  #16ab0f 0%,#2d7270 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16ab0f', endColorstr='#2d7270',GradientType=0 );
    border-radius: 3px;
    -webkit-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    font-family: 'Segoe UI';
    height: 37px;
    line-height: 37px;
    margin: 0 auto 12px;
    width: 248px;
}

.ajaxpages span {
    background: url(../img/ico_bottom.png) no-repeat;
    display: inline-block;
    height: 9px;
    margin: 0 9px 0 67px;
    width: 10px;
}

.ajaxpages:hover {
    background: #6dac6a;
    background:  url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2YWIwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDcyNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6dac6a 0%, #2d7270 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dac6a), color-stop(100%,#2d7270));
    background: -webkit-linear-gradient(top,  #6dac6a 0%,#2d7270 100%);
    background: -o-linear-gradient(top,  #6dac6a 0%,#2d7270 100%);
    background: -ms-linear-gradient(top,  #6dac6a 0%,#2d7270 100%);
    background: linear-gradient(to bottom,  #6dac6a 0%,#2d7270 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dac6a', endColorstr='#2d7270',GradientType=0 );
}

.navi {
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    padding: 5px 0;
}

.navigation {
    float: left;
    margin: 4px 0 0 10px;
}

.navigation a {
    color: #171717;
    display: block;
    float: left;
    height: 21px;
    line-height: 21px;
    text-align: center;
    width: 21px;
}

.navigation a:hover {
    color: #108442;
}

.navigation a.left {
    background: url(../img/pagination_left.png) no-repeat;
    margin: 0 3px 0 0;
    
}

.navigation a.right {
    background: url(../img/pagination_right.png) no-repeat;
    margin: 0 0 0 3px;
}

.sortaou {
    float: right;
    margin: 0 5px 0 0;
}

.sortaou div.cs-skin-sudak {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    margin: 0 0 0 10px;
    padding: 8px 0 0 0;
    width: 56px;
}

.sortaou .cs-skin-sudak.cs-select span.cs-placeholder::after {
    margin-left: 7px;
    margin-top: 3px;
}

.sortaou .cs-skin-sudak.cs-select span.cs-placeholder {
    color: #262626;
}

.sortaou .cs-skin-sudak > span {
    border-bottom: none;
}

.sortaou .cs-skin-sudak.cs-select span.cs-placeholder {
    margin-left: 10px;
}

.sortaou .cs-skin-sudak .cs-options {
    color: #262626;
}

.sortaou .cs-skin-sudak.cs-active > span {
    border-bottom: none;
}

.sortaou .cs-skin-sudak.cs-active span.cs-placeholder::after {
    margin-top: -2px;
}

/*========================== END katalog ==========================*/

/*========================== footer ==========================*/

footer {
    background: #464646 url(../img/footer_bg.png) repeat;
    color: #ffffff;
    margin: 77px 0 0 0;
}

footer a {
    color: #fff;
}

footer .center {
    overflow: hidden;
}

.footer_menu {
    float: left;
    padding: 29px 0 0 0;
}

.footer_menu li {
    background: url(../img/ico_13.png) no-repeat left center;
    margin: 0 0 10px 0;
    padding: 0 0 0 16px;
}

.footer_menu li a {
    text-decoration: underline;
}

.footer_menu li a:hover {
    text-decoration: none;
}

.block_green {
    background: url(../img/green_bg.jpg) no-repeat;
    border-bottom: 1px solid #174220;
    border-radius: 3px;
    float: right;
    margin: 20px 0 0 0;
    padding: 0 32px 23px 29px;
}

.p_4 {
    float: left;
    font-family: 'pt_sansbold_italic';
    font-size: 30px;
    line-height: 1.2;
    padding: 28px 0 0 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
}

.subscribe {
    float: left;
    margin: 23px 0 0 51px;
}

.subscribe h4 {
    font-family: 'pt_sansbold_italic';
    font-size: 18px;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
}

.subscribe input {
    float: left;
}

.subscribe input[type=text] {
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #0c8849;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    color: #939393;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 14px;
    width: 231px;
}

.subscribe input[type=submit] {
    background: -webkit-linear-gradient(-90deg, #2a980d 0%, #2d7270 99%);
    background: -moz-linear-gradient(-90deg, #2a980d 0%, #2d7270 99%);
    background: -o-linear-gradient(-90deg, #2a980d 0%, #2d7270 99%);
    background: -ms-linear-gradient(-90deg, #2a980d 0%, #2d7270 99%);
    background: linear-gradient(180deg, #2a980d 0%, #2d7270 99%);
    border-bottom: 1px solid #194136;
    border-left: 1px solid #256f39;
    border-right: 1px solid #256f39;
    border-radius: 3px;
    font-family: 'pt_sansbold';
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    left: 7px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 113px;
}

.line_footer {
    background: #363636;
    border: none;
    color: #363636;
    height: 1px;
    margin: 20px 0 0 0;
}

.copyright {
    height: 49px;
    margin: 0 auto;
    line-height: 49px;
    width: 1240px;
}

/*========================== END footer ==========================*/

/*========================== popup ==========================*/

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 998;
}

.order_btn {
    background: #fafafa;
    border: 2px solid #148316;
    border-radius: 5px;
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 686px;
    z-index: 999;
}

.close_popup {
    cursor: pointer;
    position: absolute;
    right: -27px;
    top: 0;
}

.phone_number {
    color: #1e982f;
    float: left;
    font-size: 24px;
    margin: 20px 0 0 24px;
    line-height: 1.3;
    width: 330px;
}

.phone_number span {
    color: #a7a7a7;
    font-size: 41px;
}

.popup_form {
    border-left: 1px solid #e2e2e2;
    float: right;
    padding: 15px 16px 14px 14px;
}

.popup_form input[type=text] {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow:    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
    box-shadow:         inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    color: #a2a2a2;
    display: block;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    margin: 0 0 5px 0;
    padding: 0 0 0 12px;
    width: 281px;
}

.popup_form input[type=submit] {
    background: -webkit-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -moz-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -o-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: -ms-linear-gradient(-90deg, #16ab0f 0%, #2d7270 99%);
    background: linear-gradient(180deg, #16ab0f 0%, #2d7270 99%);
    border-radius: 3px;
    -webkit-box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         inset 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: block;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    width: 293px;
}

.popup_form input[type=submit]:hover {
    background: -webkit-linear-gradient(-90deg, #16ab0f 0%, #21913b 99%);
    background: -moz-linear-gradient(-90deg, #16ab0f 0%, #21913b 99%);
    background: -o-linear-gradient(-90deg, #16ab0f 0%, #21913b 99%);
    background: -ms-linear-gradient(-90deg, #16ab0f 0%, #21913b 99%);
    background: linear-gradient(180deg, #16ab0f 0%, #21913b 99%);
}

.descript_input {
    color: #a2a2a2;
    font-size: 12px;
    margin: 0 0 15px 0;
    text-indent: 13px;
}
.descript_input.your_time {
     margin: 0 0 12px 0;
}

.line_gray_popup {
    background: #e2e2e2;
    border: none;
    color: #e2e2e2;
    height: 1px;
    margin: 0 0 10px 0;
}

.your_time {
    font-size: 14px;
}

.green_descript {
    color: #1e982f;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 5px 0;
}

/*========================== menu ==========================*/

.catalogmenu:before,
.catalogmenu:after {
    content: " "; 
    display: table; 
}
.catalogmenu:after {
    clear: both;
}
.catalogmenu ul {
    list-style: none;
/*    width: 9em;*/
}
.catalogmenu li {
    position: relative;
}
.catalogmenu > li {
    float: left;
}
.catalogmenu > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.catalogmenu > li > a {
    display: block;
}
.catalogmenu a:hover {
    color: #108442;
}
.catalogmenu li  ul {
    position: absolute;
    left: -9999px;
}

.catalogmenu li ul li {
    line-height: 1;
}

.catalogmenu {
    z-index:1;
}
.catalogmenu > li.hover > ul {
    left: 248px;
    top: 0;
}
.catalogmenu > li:hover > ul {
    left: 248px;
    top: 0;
}
.catalogmenu > li.hasDD {
    background-image: url(../img/str_right.png);
    background-position: 228px center;
    background-repeat: no-repeat;
}

.catalogmenu li li.hover ul {
    left: 100%;
    top: 0;
}
.catalogmenu li li > a {
    display: block;
    position: relative;
    z-index:200;
    border-top: 1px solid #175e4c;
}
.catalogmenu li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

.catalogmenu .open_menu {
    background: #fff;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    padding: 15px 0 0 38px;
    overflow: hidden;
    width: 900px;
}

.block_menu_1 {
    background: #fff;
    float: left;
    height: 110px;
    margin: 0 0 40px 0;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.white_menu_bg {
    background: url(../img/white_bg_menu.png) repeat-x;
    bottom:0;
    height: 14px;
    left: 0;
    position: absolute;
    width: 100%;
}

.open_menu h4 {
    color: #009335;
    float: left;
    font-family: Arial;
    font-size: 18px;
    padding: 0 32px 0 0;
}

.open_menu h4 img {
    display: block;
}

.open_menu p {
    float: left;
}

.open_menu p a {
    background: url(../img/arrows_menu.png) no-repeat left center;
    color: #666666;
    display: block;
    font-family: Arial;
    font-size: 13px;
    margin: 0 0 5px 0;
    padding: 0 0 0 11px;
}

.open_menu p a:first-child {
    margin-top: 5px;
}
.flexslider .slides img {
    width:auto;
}
.brand {
    width:60px;
    height:60px;
    
}




/*styling flexnav*/

.flexslider.flexgall  { 
    width: 90%;
    margin: 0 auto; 
    background-color:transparent;
    border:0px;
}
.flexslider.flexgall .slides img {
  height: auto;
  margin:0 auto;
}



.flexslider.flexgall .flex-direction-nav a,
.flexslider.flexgall .flex-direction-nav a {
display: block; /* I added this line */
}

.flexslider.flexgall .flex-direction-nav .flex-next { right: 0 !important; margin-right: -40px; opacity: 1 !important; }
.flexslider.flexgall .flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: -40px; }

.flexslider.flexgall .flex-direction-nav a:before {
    display:none;
}
.flexslider.flexgall .flex-direction-nav a {
    background-image:url(../img/flex_controll.png);
    width:21px;
    height:74px;
    background-repeat: no-repeat;
    height:37px;
}

.flexslider.flexgall .flex-direction-nav .flex-prev {
    background-position:0px -37px;
}
.flexslider.flexgall .flex-direction-nav .flex-next {
  background-position:0px 0px;
  text-align: right;
}
/*end styling flexnav*/



/*cuselect start*/
.opt {
 float:none;
 display:block; 
 background:none;
}
.opt:before, .opt:after {
    content:'';
    display:table;
}
.opt:after  {
    clear:both;
}

 .opt .key {
    margin: 0 0 15px 5px;
    float:left;
    width:46px;
    display:block; 
}
.opt {
    color:#252525;
    display:none;
}
/*cuselect end */
