
@media only screen and (max-width: 1319px) {
	.center_1 {
		width: 100%;
	}
	.logo {
		margin-left: 1%;
	}
	.logo img:last-child {display: none;}
	.ul_1 {margin-right: 1%;}
	.soc_btn {margin-right: 2%;}
	.ul_2 {
		margin-left: 2%;
	}
	.btn_1 span {display: none;}
	.link_2__1:before, .link_2__2:after {
		width: 80px;
	}
	.link_2__1:before {left: -95px;}
	.link_2__2:after {right: -95px;}
	.ul_2 > li {width: 30%;}
	.ul_3 > li span {padding-top: 160px;}
	.ul_3 > li span br {display: none;}
	.foooter_data {margin-left: 5%;}
	.soc_btn {margin-right: 3%;}
}

@media only screen and (max-width: 999px) {
	body {overflow-x: hidden;}
	.menu-button span {
		background: #fff;
		display: block;
		height: 4px;
		width: 50px;
	}
	.menu-button span + span {margin-top: 14px;}
	.flexnav.flexnav-show {
                top:75px;
		position: absolute;
	}
	.ul_2 {margin-bottom: 50px; margin-top: 70px;}
	.ul_2 > li, .ul_2 > li:nth-child(1) {margin-bottom: 10px; width: 45%;}
	.ul_2 > li:last-child {clear: both;}
}

@media only screen and (max-width: 960px) {
	.center_2, .center_3 {width: 100%;}
	.main_menu.left {
		float: none;
		left: 50%;
		margin-left: -280px;
		position: absolute;
		top: 100px;
	}
	.ul_1 {margin-right: 2%;}
	.logo {margin-left: 2%; width: 190px;}
	.logo img:last-child {display: block;}
/*	.btn_1 span {display: block;}*/
	.ul_1 li:last-child {margin-left: 25px;}
	.flexnav > li a {font-size: 16px;}
	.soc_btn a {float: none;}
	.soc_btn a + a {margin-left: 0; margin-top: 10px;}
	.block_2 {margin-top: 60px;}
	.h2, .style_2 {margin-left: 2%;}
	.ul_3 {margin-bottom: 45px;}
	.ul_3 > li {margin-bottom: 30px; width: 45%;}
	.ul_3 > li:nth-child(2n+1) {
		clear: both;
		margin-left: 0;
	}
	.block_3 {padding-bottom: 70px;}
	.block_4 {padding-top: 45px;}
	.copy {margin-top: 0;}
	.ul_4 {
		margin-left: auto;
		margin-right: auto;
		max-width: 642px;
	}
	.ul_4 > li {border-bottom: 1px solid #c0a35f;}
	.ul_4 > li:last-child  {width: 100%;}
	.ul_4 > li:last-child a {width: 100%;}
	.descript_1 {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
}

@media only screen and (max-width: 925px) {
	.soc_btn.right {
		clear: both;
	}
	.soc_btn a {float: left;}
	.soc_btn a + a {
		margin-left: 15px;
		margin-top: 0;
	}
	.soc_btn.right {
		display: table;
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	.foooter_data {margin-bottom: 30px;}
}

@media only screen and (max-width: 900px) {
	.about_us {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
}

@media only screen and (max-width: 880px) {
	.ul_2 {
		margin-left: 4%;
		width: auto;
	}
	.ul_2 > li, .ul_2 > li:nth-child(1), .ul_2 > li:nth-child(2) {
		float: none;
		margin-right: 0;
		width: 55%;
	}
	.ul_2 > li:nth-child(1) {min-height: 70px}
	.ul_2 > li:nth-child(2) {min-height: 61px}
	.ul_2 > li:nth-child(3) {min-height: 82px;}
	.ul_2 > li:nth-child(2) {background-image: url(img/ico_2_mobile.png);}
	.ul_2 > li + li {margin-left: 0;}
	.ul_2 > li:nth-child(1), .ul_2 > li:nth-child(2), .ul_2 > li:nth-child(3), .ul_2 > li {padding-left: 110px;}
	.style_1 {margin-top: 180px;}
	.block_3 {padding-top: 80px;}
	.block_2 {margin-bottom: 70px;}
	.main_menu.left {
		margin-left: 0;
		left: 3%;
	}
	.center_4 {
		margin-left: 5%;
		margin-right: 5px;
		width: 90%;
	}
}

@media only screen and (max-width: 820px) {
	.map.left {
		float: none;
		width: 100%;
	}
	.block_6__1.right {
		margin-left: auto;
		margin-right: auto;
		float: none;	
	}
	footer {
		background-color: #002e5c;
		background-position: bottom center;
	}
	.foooter_data {margin-bottom: 0;}
	.soc_btn.right {
		clear: none;
		float: right;
		margin-right: 10%;
		padding-bottom: 30px;
	}
	.left.addr {clear: both;}
	.descript_3 {padding-right: 5%;}
	.ul_2 > li, .ul_2 > li:nth-child(1), .ul_2 > li:nth-child(2) {width: 70%;}
}

@media only screen and (max-width: 699px) {
	.style_1 {margin-top: 80px;}
	.menu-button {
		position: absolute;
		right: 2%;
	}
	.main_menu.left {top: 40px; width: 100%;}
	
	/*========================== top_menu ==========================*/
	.ul_1, .link_2 {display: none;}
	.main_menu.left {left: 0;}
	.flexnav {
		margin-top: 0;
	}
	.flexnav > li {margin-right: 0;}
	.flexnav.flexnav-show {
		background: #002e5c;
		padding: 0;
		width: 100%;
	}
	.flexnav > li {
		border-top: 1px solid #c0a35f;
/*		height: 102px;*/
		line-height: 102px;
	}
	.flexnav > li a {
		font-size: 36px;
		padding-bottom: 0;
	}
	.show_with ul {
		background: #c0a35f!important;
		display: block!important; 
		float: none!important; 
		left: 0 !important;
		z-index: 999!important;
	}
	.show_with ul li a {color: #fff;}
}

@media only screen and (max-width: 645px) {
	.center_5 {width: 100%;}
	.ul_4, .call, .call_submit {
		margin-left: auto;
		margin-right: auto;
	}
	.ul_4 {
		background: none;
		display: table;
	}
	.ul_4 > li, .ul_4 > li:last-child {
		border-right: none;
		float: none;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	.ul_4 a, .ul_4 > li:last-child a {
		padding-left: 2%;
		padding-right: 2%;
		width: 100%;
	}
	.call, .call_submit {
		display: table;
	}
	.call {margin-bottom: 20px;}
	.ul_2 > li, .ul_2 > li:nth-child(1), .ul_2 > li:nth-child(2) {width: 85%;}
	h1 {font-size: 36px;}
	h2{font-size: 28px; margin-bottom: 70px!important;}
	.h2::before {
		top: 50px;
		width: 130px;
	}
}

@media only screen and (max-width: 550px) {
	.ul_3, footer .logo.left, .foooter_data, .left.addr, .soc_btn.right {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.ul_3 > li {
		float: none;
		width: 400px;
	}
	.ul_3 > li + li {margin-left: 0;}
	.ul_3 > li a {height: 180px;}
	.ul_3 > li span {padding-top: 100px;}
	.ul_3 > li:nth-child(1) a {
		background-image: url("img/ico_4_mob.png");
	}
	.ul_3 > li:nth-child(2) a {
		background-image: url("img/ico_5_mob.png");
	}
	.ul_3 > li:nth-child(3) a {
		background-image: url("img/ico_6_mob.png");
	}
	
	.ul_3 > li:nth-child(4) a {
		background-image: url("img/ico_7_mob.png");
	}
	.ul_3 {margin-bottom: 0;}
	footer .logo.left, .foooter_data.left, .left.addr, .soc_btn.right {float: none; text-align: center;}
	footer .logo.left {
		display: block;
		margin-top: 60px;
		overflow: hidden;
	}
	footer .center_1 {overflow: hidden;}
        
        .bx-wrapper img {
            width:100%;
        }
}

@media only screen and (max-width: 449px) {
	.block_6__1 {width: 100%;}
	.foto_descript {left: 3%;}
	.call {width: 90%;}
	.ul_3 > li {width: 90%;}
	h1 {font-size: 29px;}
	h2{font-size: 27px;}
	h3 {font-size: 24px;}
}

@media only screen and (max-width: 319px) {
	body {overflow-x: scroll;}
}
