@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-reg-webfont-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg-webfont-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-reg-webfont-webfont.woff') format('woff'),
         url('../fonts/proximanova-reg-webfont-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-reg-webfont-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proximanova-bold-webfont-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff2') format('woff2'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.rouble {
    font-family: 'als_rublregular';
    text-transform: lowercase;
}

a {
    color: #007dc6;
    text-decoration: none;
}

a:hover {text-decoration: underline;}

.left {float: left;}
.right {float: right;}

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.wrapper {
/*    width:1440px;*/
    background: #fff;
    font-family: 'proxima_novaregular';
    font-size: 13px;
    margin:0 auto;
}

.pwrap {
    width:1440px;
    margin:0 auto;
}

.wrap_1, .hitdelim {
    margin: 0 auto;
    width: 1003px;
}

.top_menu {
    margin: 5px 0 10px 0;
}

.top_menu > li {
    float: left;
    height: 23px;
    line-height: 23px;
}

.top_menu > li + li {
    margin-left: 15px;
}

.top_menu > li a {
    color: #666;
}

.top_menu .special a {
    background: #00a326;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'proxima_novabold';
    padding: 0 5px;
    text-transform: uppercase;
}

.enter_reg {
    margin: 11px 4px 0 0;
}

.enter_reg a {
    color: #333;
    font-family: 'proxima_novabold';    
}

.enter {
    position: relative;
}

.enter:before {
    background: url(../img/enter_ico.png) no-repeat;
    content: "";
    height: 24px;
    left: -31px;
    position: absolute;
    top: -5px;
    width: 24px;
}

.logo_descript {
    color: #333;
    margin: 0 52px 36px 0;
    width: 200px;
}

.logo {
    color: #fe5917;
    display: block;
    font-family: 'open_sansextrabold';
    font-size: 26px;
    margin: 0 0 7px 0;
    text-transform: uppercase;
}

.logo_descript span {
    line-height: 1.2;
}

.search_form {
    margin: 0 47px 0 0;
}

.search_form input[type=text] {
    color: #333333;
    font-family: 'proxima_novaregular';
    font-size: 13px;
    height: 27px;
    text-indent: 9px;
    width: 210px;
}

.search_form input[type=text]::-webkit-input-placeholder {color:#333333;}
.search_form input[type=text]::-moz-placeholder          {color:#333333;}/* Firefox 19+ */
.search_form input[type=text]:-moz-placeholder           {color:#333333;}/* Firefox 18- */
.search_form input[type=text]:-ms-input-placeholder      {color:#333333;}

.wrap_for_border {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 0 0 7px 0;
    overflow: hidden;
}

.search_form input[type=image] {
    margin: 0 7px 0 1px;
    position: relative;
    top: 5px;
}

.search_form p {
    color: #808080;
}

.search_form p a {
    color: #808080;
    text-decoration: underline;
}

.phone {
    margin: 0 0 10px 0;
}

.phone span {
    color: #333333;
    font-family: 'proxima_novabold';
    font-size: 18px;
}

.phone a {
    border-bottom: 1px dashed #fe5917;
    color: #fe5917;
    display: inline-block;
    margin: 0 0 0 12px;
}

.phone a:hover {
    border-bottom-color: #fff;
    text-decoration: none;
}

.block_contact {
    margin: 4px 0 0 0;
}

.graf {
    color: #808080;
    font-size: 13px;
    margin: 0 0 3px 0;
}

.graf .day {  
    font-family: 'proxima_novabold';
}

.mail {
    color: #808080;
}

.basket {
    color: #333333;
    display: block;
    margin: -3px 44px 0 0;
    position: relative;
    text-align: center;
}

.basket_ico {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.count_basket {
    background: #fe5917;
    border-radius: 50%;
    color: #ffffff;
    font-family: 'proxima_novabold';
    font-size: 8px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 11px;
    top: 0;
    text-align: center;
    width: 14px;
}

.basket_price {
    font-family: 'proxima_novabold';    
}

.basket_price + .rouble {
    font-weight: bold;
}

.basket_details {
    line-height: 1.1;
}

.menu_main {
    clear: both;
    margin: 0 0 12px 0;
}

.menu_main > li {
    float: left;
}

.menu_main > li + li {
    margin-left: 24px;
}

.menu_main > li a {
    color: #333333;
    font-size: 16px;
}

.wrap_slider {
/*    width:1440px;*/
    margin:0 auto 24px auto;
    }
.wrap_slider .slick-slide {
    position:relative;
    outline:none;
}
.wrap_slider .arrows {
    max-width:600px;
    position:relative;
}
.wrap_slider .prbox {
    color:#fff;
    bottom:31px;
    left:250px;
    left:30px;
    position:absolute;
}
.wrap_slider .prbox .tit {
    display:block;
    margin:0px 0px 12px 0px;
    font-size:26px;
    font-family: 'open_sansextrabold';
}
.wrap_slider .prbox .pt {
    font-family: 'proxima_novaregular';
    font-size:16px;
    line-height: 1.1em;
}

.wrap_slider .slick-slider {
    margin-bottom: 0;
}
.slick-next,.slick-prev {
    opacity:1; 
    background-color:rgba(0,0,0,.7);
}
.slick-next, .slick-next:hover, .slick-prev, .slick-prev:hover {
    transition: all 0.2s;
    width:220px;
    height:366px;
    z-index:2;
}
.slick-next:hover, .slick-prev:hover {
    opacity:1; 
    background-color:rgba(0,0,0,.8);
}
.slick-prev {
    left:0px;
}
.slick-next {
    right:0px;
}
.slick-prev:before, .slick-next:before  {
    content:'';
    position:absolute;
    width:24px;
    height:48px;
    display:block;
    z-index:443;
    text-indent: 9999px;
    margin-top:-20px;
  
}
.slick-prev:before {
    right:30px;
    background:url(../img/arrow_left.png);
}
.slick-next:before {
    background:url(../img/arrow_right.png);
    left:30px;
}
.title_1 {
    color: #333333;
    font-family: 'proxima_novaregular';
    font-size: 24px;
}

.products_all {
    margin: 10px 0 0 0;
}

.products {
    float: left;
    margin: 0 21px 0 0;
    min-height: 350px;
    position: relative;
    width: 234px;
}

.products:nth-child(4n) {
    margin-right: 0;
}

.products:nth-child(4n+1) {
    clear: both;
}

.wrap_img {
    height: 172px;
    text-align: center;
}

.wrap_img img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.descript_products {
    color: #999999;
    margin: 17px 0 8px 0;
    word-spacing: 3px;
}

.products_name {
    color: #333333;
    font-size: 16px;
    line-height: 1.2; 
    margin: 0 0 11px 0;
}

.products_name a {
    color: #333333;
}

.link_products {
    border: 1px solid transparent;
    border-radius: 5px;
    display: block;
    left: 0;
    padding: 16px 0 0 0;
    position: absolute;
    top: 0;
    width: 232px;
}

.info_produts {
    padding: 0 0 14px 0;
}

.price_products {
    color: #000;
    font-family: 'proxima_novabold';    
    font-size: 18px;
    margin: 0 10px 0 0;
}

.line_through {
    color: #666666;
    margin: 0 10px 0 0;
}

.skidka {
    color: #00a326;
    font-family: 'proxima_novabold';    
    font-size: 18px;
}

.price_products .rouble {
    font-weight: bold;
}

.sale {
    background: #00a326;
    border-radius: 3px;
    color: #fff;
    display: table;
    font-family: 'proxima_novabold';    
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    text-transform: uppercase;
}

.to_basket, .sravnit {
    border-radius: 3px;
    display: block;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.to_basket {
    background: #fe5917;
    color: #fff;   
    height: 39px;
    line-height: 39px;
    margin: 0 0 8px 0;
    width: 100%;
}

.sravnit {
    border: 1px solid #0080ff;
    bottom: 0;
    color: #007fff;
    height: 37px;
    line-height: 37px;
    width: calc(100% - 2px);
}

.products_btn {
    display: none;
    margin: 5px 0 0 0;
    padding: 3px 0 15px 0;
    position: relative;
}

.link_products:hover, .active {
    background: #fff;
    border-color: #cccccc;
    box-shadow: 0px 0px 7px #ddd;
    left: -12px;
    padding-left: 12px;
    padding-right: 11px;
    z-index: 100;
}

.link_products:hover {
    text-decoration: none;
}

.link_products:hover .products_btn {
    display: block;
}

.hit {
    margin-bottom: 38px;
}
.hitdelim {
    margin-bottom:38px;
    border-bottom:1px solid #fe5917;
}

.content {
    clear: both;
    color: #333;
    margin: 0 0 52px 0;
    padding: 35px 0 ;
}

.style_1 {
    background: #fafbfc;
    border-bottom: 1px solid #e0e7eb;
    border-top: 1px solid #e3eaed;
}

.content .title_1 {
    margin-bottom: 33px;
}

.content p {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 15px 0;
}

.all_article {
    color: #333; 
    margin-bottom: 35px;
}

.ul_1 > li {
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    float: left;
    overflow: hidden;
    width: 319px;
}

.ul_1 > li + li {
    margin-left: 19px;
}

.ul_1 > li img {
    display: block;
    max-width: 319px;
}

.title_2 {
    color: #333;
    font-family: 'proxima_novabold';    
    font-size: 18px;
    line-height: 1.2;
}

.title_2 a {
    color: #333;
}

.all_article .title_1 {
    margin: 0 0 18px 0;
}

.link_article {
    display: block;
    margin: 0 0 5px 0;
    position: relative;
}

.date_article {
    background: rgba(0, 0, 0, .71);
    bottom: 6px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    left: 5px;
    padding: 0 5px;
    position: absolute;
    text-transform: uppercase;
    white-space: nowrap;
}

.ul_1 > li .title_2 {
    margin: 0 0 10px 5px;
}

.descript_article {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 0 5px;
    padding: 0 0 8px 0;
}

.btn_1 {
    border: 1px solid #0080ff;
    border-radius: 5px;
    color: #007fff;
    display: table;
    font-size: 16px;
    height: 49px;
    line-height: 49px;
    margin: 0 auto 42px;
    padding: 0 53px;
    text-transform: uppercase;
}

.block_1 {
    padding: 22px 0 4px 0;
}

.p_1 {
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 21px 0;
    text-align: center;
}

.p_1 span {
    color: #fe5917;
    display: block;
    font-family: 'proxima_novabold';
    margin: 7px 0 0 0;
    text-transform: uppercase;
}

.wrap_payment {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin: 0 0 22px 0;
}

.payment {
    display: table;
    margin: 0 auto;
    padding: 21px 0;
}

.payment li {
    display: inline-block;
    *zoom: 1;
    overflow: hidden;
    *display: inline;
    vertical-align: middle;
}

.payment li + li {
    margin-left: 29px;
}

.footer_menu > div {
    float: left;
    width: 203px;
}

.footer_menu > div + div {
    margin-left: 53px;
}

.footer_menu a {
    color: #4d4d4d;
}

.title_3 {
    color: #4d4d4d;
    font-family: 'proxima_novaregular';
    font-size: 18px;
}

.ul_2 {
    margin: 7px 0 23px 0;
}

.ul_2 > li + li {
    margin-top: 7px;
}

.ul_2 a {
    font-size: 14px;
    line-height: 1.2;
}

.margin_1 {
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 28px;
}

.social {
    margin: 24px 0 0 0;
    width: 226px;
}

.social a {
    background-image: url(../img/social_sprite.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 32px;
    width: 33px;
}

.social > a + a {
    margin-left: 15px;
}

.social .title_3 {
    margin: 0 0 10px 0;
}

.vk {
    background-position: 0 0;
}

.fb {
    background-position: -33px 0;
}

.ok {
    background-position: -66px 0;
}

.tw {
    background-position: -99px 0;
}

.mailru {
    background-position: -132px 0;
}

.footer {
    color: #666666;
    font-size: 12px;
    line-height: 1.2;
    padding: 23px 0 5px 0;
    text-align: center;
}

.footer p {
    margin: 0 0 7px 0;
}

.first p {
    margin-right: 30px;
}
